html {
    scroll-behavior: smooth;
}

body {
    margin-top: 0px;
}

a:link {
    text-decoration: none;
    color: rgba(225.13378500938416, 222.3196104168892, 222.3196104168892, 1);
}


a:visited {
    text-decoration: none;
    color: rgba(225.13378500938416, 222.3196104168892, 222.3196104168892, 1);
}


a:hover {
    text-decoration: none;
    color: rgba(225.13378500938416, 222.3196104168892, 222.3196104168892, 1);
}


a:active {
    text-decoration: none;
    color: rgba(225.13378500938416, 222.3196104168892, 222.3196104168892, 1);
}

.content {
    max-width: 1440px;
    margin: auto;
}

.9
_1325 {
    overflow: hidden;
}

.e9_1325 {
    background-color: rgba(255, 255, 255, 1);
    width: 1440px;
    height: 4854px;
    position: absolute;
}

.e25_41 {
    width: 1440px;
    height: 867px;
    position: absolute;
    left: 0px;
    top: 2890px;
    background-image: url(images/yellow_watercolor_paper_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e136_56 {
    width: 1093px;
    height: 776px;
    position: absolute;
    left: 173px;
    top: 2926px;
}

.e34_79 {
    width: 1092.506591796875px;
    height: 776px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_80 {
    width: 524.6400146484375px;
    height: 104px;
    position: absolute;
    left: 14.573332786560059px;
    top: 132px;
}

.e34_81 {
    width: 524.6400146484375px;
    height: 104px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_82 {
    color: rgba(63.000000044703484, 63.000000044703484, 70.00000342726707, 1);
    width: 588px;
    height: 72px;
    position: absolute;
    left: 0.426666259765625px;
    top: 2px;
    font-family: Inter;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
    line-height: px;
}

.e34_88 {
    width: 1063.8533935546875px;
    height: 400px;
    position: absolute;
    left: 14px;
    top: 236px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.e34_89 {
    width: 1063.8533935546875px;
    height: 400px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_90 {
    width: 345px;
    height: 184px;
    position: absolute;
    left: 0.426666259765625px;
    top: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.e34_91 {
    background-color: rgba(225.00000178813934, 222.00000196695328, 222.00000196695328, 1);
    width: 345px;
    height: 184px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.e34_92 {
    width: 126.56249237060547px;
    height: 48px;
    position: absolute;
    left: 215.57333374023438px;
    top: 113px;
}

.e34_93 {
    width: 126.56249237060547px;
    height: 48px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_94 {
    width: 70.31249237060547px;
    height: 20px;
    position: absolute;
    left: 56.249996185302734px;
    top: 14px;
}

.e34_95 {
    width: 70.31249237060547px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_96 {
    width: 70.31249237060547px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_97 {
    width: 70.31249237060547px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_98 {
    color: rgba(55.00000052154064, 65.0000037252903, 81.00000277161598, 1);
    width: 70.31249237060547px;
    height: 40px;
    position: absolute;
    left: 4.05474853515625px;
    top: 0px;
    font-family: Inter;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0;
    line-height: px;
}

.e34_99 {
    width: 44.999996185302734px;
    height: 48px;
    position: absolute;
    left: 0px;
    top: 6px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    background-image: url(images/dk1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e34_100 {
    width: 315px;
    height: 56px;
    position: absolute;
    left: 29.573333740234375px;
    top: 32px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.e34_101 {
    width: 315px;
    height: 56px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_102 {
    color: rgba(63.000000044703484, 63.000000044703484, 70.00000342726707, 1);
    width: 248.6842041015625px;
    height: 84px;
    position: absolute;
    left: 0px;
    top: -14px;
    font-family: Inter;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
    line-height: px;
}

.e34_103 {
    width: 344px;
    height: 184px;
    position: absolute;
    left: 361px;
    top: 0px;
}

.e34_104 {
    background-color: rgba(225.00000178813934, 222.00000196695328, 222.00000196695328, 1);
    width: 344px;
    height: 184px;
    position: absolute;
    left: 1px;
    top: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.e34_105 {
    width: 139.28260803222656px;
    height: 48px;
    position: absolute;
    left: 212px;
    top: 112px;
}

.e34_106 {
    width: 139.28260803222656px;
    height: 48px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_107 {
    width: 83.19564819335938px;
    height: 20px;
    position: absolute;
    left: 56.08695602416992px;
    top: 14px;
}

.e34_108 {
    width: 83.19564819335938px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_109 {
    width: 83.19564819335938px;
    height: 20px;
    position: absolute;
    left: 3.91302490234375px;
    top: 0px;
}

.e34_110 {
    width: 83.19564819335938px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_111 {
    color: rgba(55.00000052154064, 65.0000037252903, 81.00000277161598, 1);
    width: 83.19564819335938px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Inter;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0;
    line-height: px;
}

.e34_112 {
    width: 44.86956787109375px;
    height: 48px;
    position: absolute;
    left: -0.47267481684684753px;
    top: 6px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    background-image: url(images/dk2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e34_113 {
    width: 284.1739196777344px;
    height: 56px;
    position: absolute;
    left: 27px;
    top: 17px;
}

.e34_114 {
    width: 284.1739196777344px;
    height: 56px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_115 {
    color: rgba(63.000000044703484, 63.000000044703484, 70.00000342726707, 1);
    width: 283.2391357421875px;
    height: 56px;
    position: absolute;
    left: 0px;
    top: 3px;
    font-family: Inter;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
    line-height: px;
}

.e34_116 {
    width: 341px;
    height: 184px;
    position: absolute;
    left: 722.4266357421875px;
    top: 0px;
}

.e34_117 {
    background-color: rgba(225.00000178813934, 222.00000196695328, 222.00000196695328, 1);
    width: 341px;
    height: 184px;
    position: absolute;
    left: -1.4266357421875px;
    top: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.e34_118 {
    width: 147.334228515625px;
    height: 48px;
    position: absolute;
    left: 205.5733642578125px;
    top: 99px;
}

.e34_119 {
    width: 147.334228515625px;
    height: 48px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_120 {
    width: 91.73640441894531px;
    height: 20px;
    position: absolute;
    left: 55.59782028198242px;
    top: 14px;
}

.e34_121 {
    width: 91.73640441894531px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_122 {
    width: 91.73640441894531px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_123 {
    width: 91.73640441894531px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_124 {
    color: rgba(55.00000052154064, 65.0000037252903, 81.00000277161598, 1);
    width: 91.73640441894531px;
    height: 40px;
    position: absolute;
    left: 58.3477783203125px;
    top: 23px;
    font-family: Inter;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0;
    line-height: px;
}

.e34_125 {
    width: 44.4782600402832px;
    height: 48px;
    position: absolute;
    left: 0.36817479133605957px;
    top: 19px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    background-image: url(images/dk3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e34_126 {
    width: 225.17117309570312px;
    height: 28px;
    position: absolute;
    left: 29.5733642578125px;
    top: 23px;
}

.e34_127 {
    width: 225.17117309570312px;
    height: 28px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_128 {
    color: rgba(63.000000044703484, 63.000000044703484, 70.00000342726707, 1);
    width: 235px;
    height: 56px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Inter;
    text-align: left;
    font-size: 17px;
    letter-spacing: 0;
    line-height: px;
}

.e34_129 {
    width: 346px;
    height: 184px;
    position: absolute;
    left: -1px;
    top: 200px;
}

.e34_130 {
    background-color: rgba(225.00000178813934, 222.00000196695328, 222.00000196695328, 1);
    width: 346px;
    height: 184px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.e34_139 {
    width: 285.8260803222656px;
    height: 56px;
    position: absolute;
    left: 30.086957931518555px;
    top: 32px;
}

.e34_140 {
    width: 285.8260803222656px;
    height: 56px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_141 {
    color: rgba(63.000000044703484, 63.000000044703484, 70.00000342726707, 1);
    width: 272.66302490234375px;
    height: 84px;
    position: absolute;
    left: -0.3056112825870514px;
    top: -14px;
    font-family: Inter;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
    line-height: px;
}

.e34_133 {
    width: 98.72281646728516px;
    height: 20px;
    position: absolute;
    left: 267.41302490234375px;
    top: 126px;
}

.e34_134 {
    width: 98.72281646728516px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_135 {
    width: 98.72281646728516px;
    height: 20px;
    position: absolute;
    left: 5.58697509765625px;
    top: 0px;
}

.e34_136 {
    width: 98.72281646728516px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_137 {
    color: rgba(55.00000052154064, 65.0000037252903, 81.00000277161598, 1);
    width: 98.72281646728516px;
    height: 40px;
    position: absolute;
    left: 0.6367160677909851px;
    top: -5px;
    font-family: Inter;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0;
    line-height: px;
}

.e34_138 {
    width: 45.130428314208984px;
    height: 48px;
    position: absolute;
    left: 211px;
    top: 112px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    background-image: url(images/dk4.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e34_131 {
    width: 155.13584899902344px;
    height: 48px;
    position: absolute;
    left: 206px;
    top: 371px;
}

.e34_132 {
    width: 155.13584899902344px;
    height: 48px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_142 {
    width: 344px;
    height: 184px;
    position: absolute;
    left: 360px;
    top: 175px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.e34_143 {
    background-color: rgba(225.00000178813934, 222.00000196695328, 222.00000196695328, 1);
    width: 344px;
    height: 184px;
    position: absolute;
    left: 2px;
    top: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.e34_152 {
    width: 284.1739196777344px;
    height: 56px;
    position: absolute;
    left: 29.91304588317871px;
    top: 32px;
}

.e34_153 {
    width: 284.1739196777344px;
    height: 56px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_154 {
    color: rgba(63.000000044703484, 63.000000044703484, 70.00000342726707, 1);
    width: 252.3913116455078px;
    height: 28px;
    position: absolute;
    left: 0.08697509765625px;
    top: 14px;
    font-family: Inter;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
    line-height: px;
}

.e34_144 {
    width: 155.1739044189453px;
    height: 48px;
    position: absolute;
    left: 210px;
    top: 130px;
}

.e34_145 {
    width: 155.1739044189453px;
    height: 48px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_146 {
    width: 99.08695220947266px;
    height: 20px;
    position: absolute;
    left: 56.086952209472656px;
    top: 14px;
}

.e34_147 {
    width: 99.08695220947266px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_148 {
    width: 99.08695220947266px;
    height: 20px;
    position: absolute;
    left: 4.91302490234375px;
    top: 0px;
}

.e34_149 {
    width: 99.08695220947266px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e41_304 {
    width: 117.82916259765625px;
    height: 60px;
    position: absolute;
    left: -10px;
    top: -10px;
}

.e34_150 {
    color: rgba(55.00000052154064, 65.0000037252903, 81.00000277161598, 1);
    width: 97.82916259765625px;
    height: 40px;
    position: absolute;
    left: 10px;
    top: 10px;
    font-family: Inter;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0;
    line-height: px;
}

.e34_151 {
    width: 44.869564056396484px;
    height: 48px;
    position: absolute;
    left: 0px;
    top: 6px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    background-image: url(images/dk5.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e34_155 {
    width: 341px;
    height: 184px;
    position: absolute;
    left: 722.4266357421875px;
    top: 234px;
}

.e34_156 {
    background-color: rgba(225.00000178813934, 222.00000196695328, 222.00000196695328, 1);
    width: 341px;
    height: 184px;
    position: absolute;
    left: -1.4266357421875px;
    top: -34px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.e34_157 {
    width: 139.9211883544922px;
    height: 48px;
    position: absolute;
    left: 207.5733642578125px;
    top: 70px;
}

.e34_158 {
    width: 139.9211883544922px;
    height: 48px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_159 {
    width: 84.3233642578125px;
    height: 20px;
    position: absolute;
    left: 55.59782028198242px;
    top: 14px;
}

.e34_160 {
    width: 84.3233642578125px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_161 {
    width: 84.3233642578125px;
    height: 20px;
    position: absolute;
    left: 3.4022216796875px;
    top: 0px;
}

.e34_162 {
    width: 84.3233642578125px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0px;
}

.e34_163 {
    color: rgba(55.00000052154064, 65.0000037252903, 81.00000277161598, 1);
    width: 84.3233642578125px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0px;
    font-family: Inter;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0;
    line-height: px;
}

.e34_164 {
    width: 44.47825622558594px;
    height: 48px;
    position: absolute;
    left: 0.36817479133605957px;
    top: 6px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    background-image: url(images/dk6.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e34_165 {
    width: 240px;
    height: 61px;
    position: absolute;
    left: 25.5733642578125px;
    top: 0px;
}

.e34_166 {
    width: 240px;
    height: 56px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_167 {
    color: rgba(63.000000044703484, 63.000000044703484, 70.00000342726707, 1);
    width: 228.94735717773438px;
    height: 84px;
    position: absolute;
    left: 0.3136788010597229px;
    top: -14px;
    font-family: Inter;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
    line-height: px;
}

.e34_168 {
    width: 1063.88623046875px;
    height: 68px;
    position: absolute;
    left: 11.842889785766602px;
    top: 57px;
}

.e34_169 {
    width: 1063.88623046875px;
    height: 68px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_170 {
    color: rgba(24.000000469386578, 24.000000469386578, 27.000000290572643, 1);
    width: 1004.6718139648438px;
    height: 72px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Nunito;
    text-align: left;
    font-size: 64px;
    letter-spacing: 0;
}

.e49_529 {
    width: 136px;
    height: 60px;
    position: absolute;
    left: 478px;
    top: 685px;
}

.ei49_529_49_420 {
    width: 136px;
    height: 60px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei49_529_49_420_9_1280 {
    background-color: rgba(255, 255, 255, 1);
    width: 136px;
    height: 60px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 53px;
    border-top-right-radius: 53px;
    border-bottom-left-radius: 53px;
    border-bottom-right-radius: 53px;
}


.ei49_529_49_420_9_1280_9_1229 {
    background-color: rgba(225.00000178813934, 222.00000196695328, 222.00000196695328, 1);
    width: 136px;
    height: 60px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.ei49_529_49_420_9_1280_9_1229:hover {
    background: #ff3300;
    cursor: pointer;
}

.ei49_529_49_420_9_1280_9_1230 {
    color: rgba(0, 0, 0, 1);
    width: 88px;
    height: 28px;
    position: absolute;
    left: 24px;
    top: 16px;
    font-family: IBM Plex Sans;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0;
    line-height: px;
    font-weight: bold;
}

.e34_171 {
    width: 1839px;
    height: 858px;
    position: absolute;
    left: -225px;
    top: 1123px;
}

.e34_172 {
    width: 1839px;
    height: 920px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_173 {
    width: 1169px;
    height: 874px;
    position: absolute;
    left: 307px;
    top: -37px;
}

.e34_174 {
    width: 1169px;
    height: 920px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.e34_175 {
    width: 568.913330078125px;
    height: 792px;
    position: absolute;
    left: 15.58666706085205px;
    top: 64px;
}

.e34_176 {
    width: 568.913330078125px;
    height: 792px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_178 {
    width: 569px;
    height: 803px;
    position: absolute;
    left: 643px;
    top: 71px;
}

.e34_179 {
    width: 569px;
    height: 792px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_180 {
    width: 506.64385986328125px;
    height: 136px;
    position: absolute;
    left: 58px;
    top: 198px;
}

.e34_181 {
    width: 506.64385986328125px;
    height: 136px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_182 {
    width: 420.90411376953125px;
    height: 120px;
    position: absolute;
    left: 36px;
    top: 16px;
}

.e34_183 {
    width: 420.90411376953125px;
    height: 120px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_187 {
    width: 420.90411376953125px;
    height: 72px;
    position: absolute;
    left: 0px;
    top: 54px;
}

.e34_188 {
    width: 420.90411376953125px;
    height: 72px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_189 {
    color: rgba(63.000000044703484, 63.000000044703484, 70.00000342726707, 1);
    width: 378.03424072265625px;
    height: 72px;
    position: absolute;
    left: -1px;
    top: 42px;
    font-family: Nunito;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
    line-height: px;
}

.e34_184 {
    width: 420.90411376953125px;
    height: 48px;
    position: absolute;
    left: 33px;
    top: 15px;
}

.e34_185 {
    width: 420.90411376953125px;
    height: 48px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_186 {
    color: rgba(24.000000469386578, 24.000000469386578, 27.000000290572643, 1);
    width: 300px;
    height: 32px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Nunito;
    text-align: left;
    font-size: 22px;
    letter-spacing: 0.6000000238418579;
    line-height: px;
}

.e34_194 {
    width: 506.64385986328125px;
    height: 160px;
    position: absolute;
    left: 38px;
    top: 312px;
}

.e34_195 {
    width: 506.64385986328125px;
    height: 160px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_200 {
    width: 456.9303894042969px;
    height: 288px;
    position: absolute;
    left: 57px;
    top: 41px;
}

.e34_202 {
    width: 456.9303894042969px;
    height: 48px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_204 {
    color: rgba(24.000000469386578, 24.000000469386578, 27.000000290572643, 1);
    width: 430.4876403808594px;
    height: 32px;
    position: absolute;
    left: -4px;
    top: 1px;
    font-family: Nunito;
    text-align: left;
    font-size: 22px;
    letter-spacing: 0.6000000238418579;
    line-height: px;
}

.e34_201 {
    width: 421px;
    height: 144px;
    position: absolute;
    left: 0px;
    top: 48px;
}

.e34_205 {
    width: 421px;
    height: 96px;
    position: absolute;
    left: 0px;
    top: 192px;
}

.e34_206 {
    width: 421px;
    height: 96px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_208 {
    width: 506.64385986328125px;
    height: 160px;
    position: absolute;
    left: 62.35616683959961px;
    top: 492px;
}

.e34_209 {
    width: 506.64385986328125px;
    height: 160px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_210 {
    width: 421px;
    height: 154px;
    position: absolute;
    left: 31.64385986328125px;
    top: -13px;
}

.e34_211 {
    width: 421px;
    height: 144px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_212 {
    width: 421px;
    height: 48px;
    position: absolute;
    left: -4px;
    top: 10px;
}

.e34_213 {
    width: 421px;
    height: 48px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_214 {
    color: rgba(24.000000469386578, 24.000000469386578, 27.000000290572643, 1);
    width: 334.2662048339844px;
    height: 32px;
    position: absolute;
    left: 1px;
    top: 6px;
    font-family: Nunito;
    text-align: left;
    font-size: 22px;
    letter-spacing: 0.6000000238418579;
    line-height: px;
}

.e34_215 {
    width: 421px;
    height: 96px;
    position: absolute;
    left: 0px;
    top: 48px;
}

.e34_217 {
    color: rgba(63.000000044703484, 63.000000044703484, 70.00000342726707, 1);
    width: 406.3819580078125px;
    height: 72px;
    position: absolute;
    left: -1px;
    top: 11px;
    font-family: Nunito;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
    line-height: px;
}

.e34_203 {
    width: 456.9303894042969px;
    height: 48px;
    position: absolute;
    left: 1px;
    top: -174px;
}

.e34_207 {
    color: rgba(63.000000044703484, 63.000000044703484, 70.00000342726707, 1);
    width: 405.06170654296875px;
    height: 119px;
    position: absolute;
    left: 29.64385986328125px;
    top: -95px;
    font-family: Nunito;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
    line-height: px;
}

.e34_222 {
    width: 506.64385986328125px;
    height: 44px;
    position: absolute;
    left: 62.35616683959961px;
    top: 684px;
}

.e34_223 {
    width: 506.64385986328125px;
    height: 44px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e34_227 {
    width: 506.64385986328125px;
    height: 36px;
    position: absolute;
    left: 62.35616683959961px;
    top: 64px;
}

.e34_228 {
    width: 506.64385986328125px;
    height: 36px;
    position: absolute;
    left: -0.23666028678417206px;
    top: -22px;
}

.e34_229 {
    color: rgba(24.000000469386578, 24.000000469386578, 27.000000290572643, 1);
    width: 797px;
    height: 124px;
    position: absolute;
    left: -400px;
    top: 25px;
    font-family: Nunito;
    text-align: center;
    font-size: 64px;
    letter-spacing: 0;
    font-weight: bold;
}

.e49_523 {
    width: 136px;
    height: 60px;
    position: absolute;
    left: 243px;
    top: 668px;
}

.ei49_523_49_420 {
    width: 136px;
    height: 60px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei49_523_49_420_9_1280 {
    background-color: rgba(255, 255, 255, 1);
    width: 136px;
    height: 60px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 53px;
    border-top-right-radius: 53px;
    border-bottom-left-radius: 53px;
    border-bottom-right-radius: 53px;
}

.ei49_523_49_420_9_1280_9_1229 {
    background-color: rgba(240.00000089406967, 154.00000602006912, 24.000000469386578, 1);
    width: 136px;
    height: 60px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.ei49_523_49_420_9_1280_9_1229:hover {
    background: #ff3300;
    cursor: pointer;
}

.ei49_523_49_420_9_1280_9_1230 {
    color: rgba(0, 0, 0, 1);
    width: 88px;
    height: 28px;
    position: absolute;
    left: 24px;
    top: 16px;
    font-family: IBM Plex Sans;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0;
    line-height: px;
    font-weight: bold;
}

.e36_237 {
    width: 609px;
    height: 513px;
    position: absolute;
    left: 415px;
    top: 254px;
    background-image: url(images/image_6.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e136_60 {
    width: 1063px;
    height: 834px;
    position: absolute;
    left: 188px;
    top: 1978px;
}

.e36_251 {
    width: 98px;
    height: 98px;
    position: absolute;
    left: 0px;
    top: 714px;
    background-image: url(images/image_12.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e36_241 {
    width: 98px;
    height: 98px;
    position: absolute;
    left: 0px;
    top: 113px;
    background-image: url(images/image_8.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e36_239 {
    width: 679px;
    height: 755px;
    position: absolute;
    left: 382px;
    top: 48px;
    background-image: url(images/image_7.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e36_245 {
    width: 98px;
    height: 98px;
    position: absolute;
    left: 0px;
    top: 418px;
    background-image: url(images/image_10.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e36_243 {
    width: 98px;
    height: 98px;
    position: absolute;
    left: -4px;
    top: 265px;
    background-image: url(images/image_9.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e36_249 {
    width: 98px;
    height: 98px;
    position: absolute;
    left: -8px;
    top: 569px;
    background-image: url(images/image_11.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e38_280 {
    width: 340px;
    height: 92px;
    position: absolute;
    left: 282px;
    top: 2097px;
}

.e38_282 {
    color: rgba(0, 0, 0, 1);
    width: 277px;
    height: 88px;
    position: absolute;
    left: 26px;
    top: 4px;
    font-family: Nunito;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
    line-height: px;
}

.e38_284 {
    width: 277px;
    height: 89px;
    position: absolute;
    left: 282px;
    top: 2243px;
}

.e38_285 {
    color: rgba(0, 0, 0, 1);
    width: 234px;
    height: 67px;
    position: absolute;
    left: 28px;
    top: 16px;
    font-family: Nunito;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
    line-height: px;

}

.e38_286 {
    width: 270px;
    height: 80px;
    position: absolute;
    left: 300px;
    top: 2405px;
}

.e38_287 {
    color: rgba(0, 0, 0, 1);
    width: 242px;
    height: 107px;
    position: absolute;
    left: 16px;
    top: 5px;
    font-family: Nunito;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
    line-height: px;
}

.e38_288 {
    width: 270px;
    height: 118px;
    position: absolute;
    left: 300px;
    top: 2536px;
}

.e38_289 {
    color: rgba(0, 0, 0, 1);
    width: 222px;
    height: 75px;
    position: absolute;
    left: 15px;
    top: 22px;
    font-family: Nunito;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
    line-height: px;
}

.e38_290 {
    width: 255px;
    height: 129px;
    position: absolute;
    left: 315px;
    top: 2680px;
}

.e38_291 {
    color: rgba(0, 0, 0, 1);
    width: 259px;
    height: 134px;
    position: absolute;
    left: 0px;
    top: 12px;
    font-family: Nunito;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
    line-height: px;
}

.e46_376 {
    width: 1374px;
    height: 325px;
    position: absolute;
    left: 171px;
    top: 4563px;
}

.e43_353 {
    width: 1009.1158447265625px;
    height: 213px;
    position: absolute;
    left: 54px;
    top: 112px;
}

.e44_360 {
    color: rgba(0, 0, 0, 1);
    width: 240px;
    height: 98px;
    position: absolute;
    left: 142px;
    top: -2px;
    font-family: Nunito;
    text-align: left;
    font-size: 22px;
    letter-spacing: 0.6000000238418579;
    line-height: px;
}

.e44_365 {
    color: rgba(0, 0, 0, 1);
    width: 242px;
    height: 140px;
    position: absolute;
    left: 461px;
    top: -33px;
    font-family: Nunito;
    text-align: left;
    font-size: 22px;
    letter-spacing: 0.6000000238418579;
    line-height: px;
}

.e46_367 {
    color: rgba(0, 0, 0, 1);
    width: 224px;
    height: 109px;
    position: absolute;
    left: 791px;
    top: 110px;
    font-family: Nunito;
    text-align: left;
    font-size: 22px;
    letter-spacing: 0.6000000238418579;
    line-height: px;
}

.e44_364 {
    color: rgba(0, 0, 0, 1);
    width: 255.52719116210938px;
    height: 33px;
    position: absolute;
    left: 515px;
    top: 37px;
    font-family: Nunito;
    text-align: left;
    font-size: 22px;
    letter-spacing: 0.6000000238418579;
    line-height: px;
}

.e46_366 {
    color: rgba(0, 0, 0, 1);
    width: 262px;
    height: 23px;
    position: absolute;
    left: 791px;
    top: 36px;
    font-family: Nunito;
    text-align: left;
    font-size: 22px;
    letter-spacing: 0.6px;
    line-height: 32px;
    text-transform: bold;
}

.e43_357 {
    color: rgba(0, 0, 0, 1);
    width: 204.63829040527344px;
    height: 44px;
    position: absolute;
    left: 198px;
    top: 36px;
    font-family: Nunito;
    text-align: left;
    font-size: 22px;
    letter-spacing: 0.6000000238418579;
    line-height: px;
}

.e49_378 {
    width: 1441px;
    height: 546px;
    position: absolute;
    left: 0px;
    top: 4017px;
    background-image: url(images/image_13.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e136_62 {
    width: 1440px;
    height: 1016px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e26_46 {
    width: 1440px;
    height: 1016px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: url(images/image_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e158_82 {
    width: 1440px;
    height: 1016px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: url(images/image_2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e26_47 {
    color: rgba(225.13378500938416, 222.3196104168892, 222.3196104168892, 1);
    width: 634px;
    height: 110.97614288330078px;
    position: absolute;
    left: 409px;
    top: 111.941162109375px;
    font-family: Nunito;
    text-align: center;
    font-size: 64px;
    letter-spacing: 0;
    line-height: 60px;
    text-transform: capitalize;
    margin-top: 40px;
}

.e28_41 {
    color: rgba(225.00000178813934, 222.00000196695328, 222.00000196695328, 1);
    width: 817px;
    height: 102px;
    position: absolute;
    left: 177px;
    top: 810px;
    font-family: Nunito;
    text-align: center;
    font-size: 40px;
    letter-spacing: 0;
}

.e49_554 {
    width: 199px;
    height: 60px;
    position: absolute;
    left: 1036px;
    top: 831px;
}

.ei49_554_49_420 {
    width: 199px;
    height: 60px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei49_554_49_420_9_1280 {
    background-color: rgba(255, 255, 255, 1);
    width: 199px;
    height: 60px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 53px;
    border-top-right-radius: 53px;
    border-bottom-left-radius: 53px;
    border-bottom-right-radius: 53px;
}

.ei49_554_49_420_9_1280_9_1229 {
    background-color: rgba(240.00000089406967, 154.00000602006912, 24.000000469386578, 1);
    width: 199px;
    height: 60px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.ei49_554_49_420_9_1280_9_1229:hover {
    background-color: #ff3300;
    cursor: pointer;
}

.ei49_554_49_420_9_1280_9_1230 {
    color: rgba(228.0000016093254, 228.0000016093254, 231.00000143051147, 1);
    width: 151px;
    height: 28px;
    position: absolute;
    left: 24px;
    top: 16px;
    font-family: IBM Plex Sans;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0;
    line-height: px;
    font-weight: bold;
}

.e136_59 {
    width: 1440px;
    height: 260px;
    position: absolute;
    left: 0px;
    top: 3757px;
}

.e49_382 {
    width: 85px;
    height: 85px;
    position: absolute;
    left: 632px;
    top: 95px;
    background-image: url(images/image_14.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e49_380 {
    color: rgba(0, 0, 0, 1);
    width: 391px;
    height: 330px;
    position: absolute;
    left: 197px;
    top: 96px;
    font-family: Nunito;
    text-align: left;
    font-size: 64px;
    letter-spacing: 0;
}

.e49_384 {
    width: 85px;
    height: 85px;
    position: absolute;
    left: 786px;
    top: 95px;
    background-image: url(images/image_15.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e49_386 {
    width: 85px;
    height: 85px;
    position: absolute;
    left: 1088px;
    top: 95px;
    background-image: url(images/image_16.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e49_392 {
    width: 85px;
    height: 85px;
    position: absolute;
    left: 939px;
    top: 95px;
    background-image: url(images/image_18.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e80_181 {
    width: 1037px;
    height: 69px;
    position: fixed;
    left: 201px;
    top: 14px;
    margin-left: 212px;
}

.e49_640 {
    background-color: rgba(21.754687651991844, 21.754687651991844, 28.68749924004078, 1);
    width: 1440px;
    height: 97px;
    position: absolute;
    left: -201px;
    top: -14px;
}

.e49_779 {
    width: 136px;
    height: 60px;
    position: absolute;
    left: 875px;
    top: 4px;
}

.ei49_779_49_420 {
    width: 136px;
    height: 60px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei49_779_49_420_9_1280 {
    background-color: rgba(255, 255, 255, 1);
    width: 136px;
    height: 60px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 53px;
    border-top-right-radius: 53px;
    border-bottom-left-radius: 53px;
    border-bottom-right-radius: 53px;
}


.ei49_779_49_420_9_1280_9_1229 {
    background-color: rgba(240.00000089406967, 154.00000602006912, 24.000000469386578, 1);
    width: 136px;
    height: 60px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.ei49_779_49_420_9_1280_9_1229:hover {
    background-color: #ff3300;
    cursor: pointer;
}

.ei49_779_49_420_9_1280_9_1230 {
    color: rgba(0, 0, 0, 1);
    width: 88px;
    height: 28px;
    position: absolute;
    left: 24px;
    top: 16px;
    font-family: IBM Plex Sans;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0;
    line-height: px;
    font-weight: bold;
}

.e80_161 {
    color: rgba(225.13378500938416, 222.3196104168892, 222.3196104168892, 1);
    width: 66.93545532226562px;
    height: 33px;
    position: absolute;
    left: 461.0009765625px;
    top: 21px;
    font-family: Nunito;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;

}

.e80_162 {
    color: rgba(225.13378500938416, 222.3196104168892, 222.3196104168892, 1);
    width: 64.9373779296875px;
    height: 33px;
    position: absolute;
    left: 335.91534423828125px;
    top: 21px;
    font-family: Nunito;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
}

.e80_163 {
    color: rgba(225.13378500938416, 222.3196104168892, 222.3196104168892, 1);
    width: 95.90751647949219px;
    height: 33px;
    position: absolute;
    left: 588.1040649414062px;
    top: 21px;
    font-family: Nunito;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
}

.e80_164 {
    color: rgba(225.13378500938416, 222.3196104168892, 222.3196104168892, 1);
    width: 82.92003631591797px;
    height: 33px;
    position: absolute;
    left: 731.3472900390625px;
    top: 21px;
    font-family: Nunito;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
}

.e80_165 {
    width: 209.82101440429688px;
    height: 60px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e80_165:hover {
    cursor: pointer;
}

.e80_175 {
    color: rgba(225.13378500938416, 222.3196104168892, 222.3196104168892, 1);
    width: 95.83171081542969px;
    height: 58px;
    position: absolute;
    left: 79.69163513183594px;
    top: 21px;
    font-family: Nunito;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
}

.e264_82 {
    width: 69px;
    height: 58px;
    position: absolute;
    left: 0px;
    top: 4px;
    background-image: url(images/image_19.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e80_161:hover {
    cursor: pointer;
}

.e80_162:hover {
    cursor: pointer;
}

.e80_163:hover {
    cursor: pointer;
}

.e80_164:hover {
    cursor: pointer;
}
.banner {
    display: flex;
    background-color: #16161D;
    /*????? = rozmiar + 20px*/
    height: 97px;
    position: fixed;
    top: 0;
    width: 1440px;
}

.banner-logo {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left:-160px;
    height: 100%;
    width: 30%;
    float: left;
    position: relative;
    top: 0;
    z-index: -1;
}

.banner-logo img {
    height: 58px;
    width: 73px;
}

.banner-logo-text {
    color: rgba(225.13378500938416, 222.3196104168892, 222.3196104168892, 1);
    font-family: Nunito, sans-serif;
    font-size: 24px;
    margin-top: 35px;
    margin-left:7px;
    margin-bottom: 10px;
    padding-left: 5px;
    height: 100%;
    width: 15%;
    float: left;
    position: relative;
    top: 0;
    z-index: -1;
}

.banner-button {
    background-color: #F09A18;
    color: black;
    margin: 18px 20px 6px 0;
    border-radius: 20px;
    /*????????*/
    width: 9.34%;
    height: 63%;
    float: left;
    position: static;
    top: 0;
    z-index: -1;
}

.banner-button-text {
    color: black;
    font-family: Nunito, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 17px;
    margin-bottom: 10px;
    height: 100%;
    width: 100%;
    float: left;
    position: relative;
    top: 0;
    z-index: 5;
}

.banner-home, .banner-about, .banner-opinions, .banner-contact {
    font-family: Nunito, sans-serif;
    font-size: 24px;
    color:rgba(225.13378500938416, 222.3196104168892, 222.3196104168892, 1);
    margin-top: 33px;
    margin-bottom: 10px;
    margin-left:5px;
    height: 100%;
    width: 9.5%;
    float: left;
    position: static;
    top: 0;
    right: auto;
    z-index: -1;
}
.banner-home{
    margin-left:37px;
    margin-top:35px;
}
.banner-about{
    margin-left:-12px;
    margin-top:35px;
}
.banner-opinions{
    margin-left:-9px;
    margin-top:35px;
}
.banner-contact{
    margin-top:35px;
    margin-left:6px;
}

.banner-contact {
    width: 10%;
}
p{
    margin: 0;
}
.banner-button:hover{
    background-color: #ff3300;
}


